/* Button Style */

QPushButton {
    color: white;
    background-color: rgb(0, 170, 255);
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    font: bold 20px Comic Sans MS;
    min-width: 7em;
    padding: 6px;
}

QPushButton:hover {
    color: black;
    background-color: rgb(198, 255, 179);
    border-style: outset;
    border-width: 2px;
    border-radius: 7px;
    border-color: black;
    font: bold 20px Comic Sans MS;
    min-width: 10em;
    padding: 6px;
}

QPushButton#smaller_button {
    color: white;
    background-color: rgb(0, 170, 255);
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    font: bold 20px Comic Sans MS;
    min-width: 3em;
    padding: 6px;
}

QPushButton#smaller_button:disabled,
QPushButton#back_button:disabled {
    background-color: gray;
    color: black;
}

QPushButton#smaller_button:hover {
    color: black;
    background-color: rgb(198, 255, 179);
    border-style: outset;
    border-width: 2px;
    border-radius: 7px;
    border-color: black;
    font: bold 20px Comic Sans MS;
    min-width: 3em;
    padding: 6px;
}

QPushButton#back_button {
    color: white;
    background-color: red;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    font: bold 20px Comic Sans MS;
    min-width: 3em;
    padding: 6px;
}

QPushButton#back_button:hover {
    color: black;
    background-color: rgb(255, 102, 102);
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    font: bold 20px Comic Sans MS;
    min-width: 3em;
    padding: 6px;
}

/* Input Style */

QLineEdit {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0 8px;
    background: white;
    selection-background-color: dark gray;
}

/* Label Style */

QLabel {
    font: 20px Comic Sans MS
}

QLabel#smaller_label {
    font: 15px Comic Sans MS
}

#error_label,
#face_detect_error_label{
    font: 20px Comic Sans MS;
    color: red;
}

#title_label {
    color: rgb(102, 153, 255);
    font: 30pt Comic Sans MS
}

/* ComboBox Style */

QComboBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                 stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #D3D3D3, stop: 0.4 #D8D8D8,
                                stop: 0.5 #DDDDDD, stop: 1.0 #E1E1E1);
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

/*Panel Screen CSS*/

#patientTitle_label {
    font: 30px Comic Sans MS;
}
